<template lang="html">
	<form>
		<h1>
			Notify.js
		</h1>
		<p>
			Notify.js is a simple library for displaying notifications on an HTML page
			using JavaScript.
			<a href="https://gitlab.com/gabeotisbenson/notify">Learn more here.</a>
		</p>
		<p>
			It is meant to be analogous to the JavaScript <code>console</code> object,
			providing helpful <code>.log()</code>, <code>.warn()</code>, and
			<code>.error()</code> methods.  There is also a <code>.clear()</code>
			method, which will simply clear all notifications from the tray.
		</p>
		<p>
			Below are configuration options, followed by the JSON to pass into the
			<code>notify.configure()</code> function.
		</p>
		<div>
			<h2>
				Configuration Options
			</h2>
			<fieldset v-for="group in groups" :key="group.key">
				<legend>
					<strong>
						{{ group.label }}
					</strong>
				</legend>
				<label v-for="type in types" :key="type.key">
					<span>
						{{ type.label }}
					</span>
					<component :is="group.input" v-model="options[group.key][type.key]" />
				</label>
			</fieldset>
			<fieldset>
				<legend>
					<strong>
						Corners
					</strong>
				</legend>
				<label>
					<span>
						Square
					</span>
					<input v-model="options.squareCorners" type="radio" :value="true" />
				</label>
				<label>
					<span>
						Rounded
					</span>
					<input v-model="options.squareCorners" type="radio" :value="false" />
				</label>
			</fieldset>
			<fieldset>
				<legend>
					<strong>
						Message
					</strong>
				</legend>
				<textarea v-model="message" rows="10"></textarea>
			</fieldset>
		</div>
		<div class="button-wrapper">
			<button type="button" @click="sendNotification('log')">
				Send Log
			</button>
			<button type="button" @click="sendNotification('warn')">
				Send Warning
			</button>
			<button type="button" @click="sendNotification('error')">
				Send Error
			</button>
			<button type="button" @click="clearNotifications">
				Clear Notifications
			</button>
		</div>
		<label>
			<h2>
				Configuration JSON
			</h2>
			<pre>{{ JSON.stringify(options, null, 2) }}</pre>
		</label>
	</form>
</template>

<script>
	import Checkbox from '~/vue/inputs/Checkbox.vue';
	import ColorPicker from '~/vue/inputs/ColorPicker.vue';
	import defaultNotifyOptions from '~/json/default-notify-options.json';
	import faker from 'faker';
	// import notify from '~/notify/dist/notify.js';
	import notify from '@gabeotisbenson/notify';
	import TextInput from '~/vue/inputs/TextInput.vue';

	export default {
		name: 'DemoForm',
		data () {
			return {
				count: 0,
				groups: [
					{
						label: 'Auto-Hide',
						key: 'autoHide',
						input: Checkbox
					},
					{
						label: 'Headings',
						key: 'headings',
						input: TextInput
					},
					{
						label: 'Colors',
						key: 'colors',
						input: ColorPicker
					}
				],
				message: null,
				options: defaultNotifyOptions,
				types: [
					{ label: 'Errors', key: 'error' },
					{ label: 'Logs', key: 'log' },
					{ label: 'Warnings', key: 'warn' }
				]
			};
		},
		computed: {
			optionsString () { return JSON.stringify(this.options); }
		},
		watch: {
			optionsString: function (newVal, oldVal) {
				this.configureNotify();
			}
		},
		mounted () {
			this.configureNotify();
		},
		methods: {
			clearNotifications () {
				notify.clear();
			},
			configureNotify () {
				const options = {
					squareCorners: this.options.squareCorners,
					autoHide: Object.assign({}, this.options.autoHide),
					colors: Object.assign({}, this.options.colors),
					headings: Object.assign({}, this.options.headings)
				};
				console.log(JSON.stringify(options, null, 2));
				notify.configure(options);
			},
			sendNotification (type) {
				if (this.message !== null && this.message !== '') {
					notify[type](this.message);
				} else {
					notify[type](faker.lorem.paragraph());
				}
			}
		}
	};
</script>

<style lang="stylus" scoped>
	form {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: inherit;
		fieldset {
			max-width: 100%;
			label {
				display: inline-flex;
				flex-direction: column;
				margin-right: 1rem;
				span { margin-bottom: .5rem; }
			}
			textarea {
				font-family: monospace;
				width: 100%;
			}
		}
		div.button-wrapper {
			background: inherit;
			border-top: 1px solid #000;
			bottom: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			left: 0;
			padding: .5rem;
			position: fixed;
			width: calc(100% - 1rem);
			z-index: 1000;
			button {
				margin: .25rem;
				flex-grow: 1;
				&:last-of-type { margin-left: .25rem }
				@media (min-width: 768px) {
					margin: 0;
					margin-right: .25rem;
				}
			}
			@media (min-width: 768px) {
				margin-top: 1rem;
				position: static;
				border-top: none;
				display: block;
				padding: 0;
				z-index: 1;
			}
		}
	}
</style>
