<template lang="html">
	<input
		type="checkbox"
		:checked="value"
		@change="$emit('input', $event.target.checked)"
	/>
</template>

<script>
	export default {
		name: 'Checkbox',
		props: {
			value: {
				type: Boolean,
				default: false
			}
		}
	};
</script>

<style lang="stylus" scoped>
	input {
		vertical-align: text-bottom;
	}
</style>
