<template lang="html">
	<input
		type="color"
		title="Must be a valid hex color code"
		pattern="^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$"
		:value="value"
		@change="$emit('input', $event.target.value)"
	/>
</template>

<script>
	export default {
		name: 'ColorPicker',
		props: {
			value: {
				type: String,
				default: ''
			}
		}
	};
</script>

<style lang="stylus" scoped>
	input {
		width: 5rem;
	}
</style>
