<template lang="html">
	<input
		type="text"
		:value="value"
		@input="debounce($emit('input', $event.target.value), 300)"
	/>
</template>

<script>
	import { debounce } from 'debounce';
	export default {
		name: 'TextInput',
		props: {
			value: {
				type: String,
				default: ''
			}
		},
		methods: { debounce }
	};
</script>
