html, body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 100%;
	min-height: 100%;
	background: #fff;
}
body {
	padding: 0 1rem 3rem 1rem;
	@media (min-width: 768px) {
		width: 66vw;
	}
}
